*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
}
.menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav ul li {
    padding: 1rem;
}

.logo{
    padding: 0rem 5rem;
}

.nav{
    padding: 1rem 5rem;
    font-weight: bold;
}
.list-items-light{
    background-color: black;
    padding: 5px 2rem;
    border-radius: 31px;
    color: white;
}
.moon{
    height: 32px;
    width: 32px;
    margin-left: 4.5rem;
    margin-top: 10px;
}
.sun{
    height: 32px;
    width: 32px;
    margin-left: 4.5rem;
    margin-top: 10px;
    color: coral;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.list-items-dark{
    background-color: white;
    padding: 5px 2rem;
    border-radius: 31px;
    color: black;
}
@media(max-width:1000px){
    .nav ul {

        display: none;
    }
    .logo-name{
        font-size: large;
    }
    .logo{
        padding: 0rem 1rem;
    }
}